::ng-deep {
  .p-selectbutton .p-button.p-highlight {
    background: #ad1d0d;
    background-color: #ad1d0d;
  }

  .p-button .p-button.p-highlight {
    background: #ad1d0d;
    background-color: #ad1d0d;
  }

  // .p-selectbutton .p-button.p-highlight:hover {
  //   background: green;
  // }
}
