<div
  class="dashboard-title"
  style="
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    background-color: #2d5880;
    text-align: left;
    padding: 20px 30px;
    margin-bottom: 30px;
    border-radius: 10px;
  "
>
  Approval Purchase Order
</div>
<div class="alert alert-dark alert-dismissible fade show" role="alert">
  <div class="alert-icon">
    <i class="bi bi-exclamation-triangle-fill"></i>
  </div>
  <div class="alert-text">
    <b>Informasi</b><br />
    - Tabel tersebut defaultnya OPEN<br />
    - Tabel Approve/Reject bisa di filter terlebih dahulu<br />
  </div>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<!-- Header Section -->
<div class="card mb-6">
  <div class="card-header">
    <h5 style="color: #2d5880; margin-top: 26px; font-weight: bold">
      Filter Purchase Order
    </h5>
    <button
      pButton
      type="button"
      (click)="toggleCollapse()"
      [icon]="isCollapsed ? 'fa fa-plus' : 'fa fa-minus'"
      style="margin-top: 10px"
      class="p-button-rounded red-button"
    ></button>
  </div>

  <!-- Collapse Section -->
  <div *ngIf="!isCollapsed">
    <!-- Form Section -->
    <form
      class="m-form m-form--fit m-form--label-align-right"
      id="suratLemburForm"
      style="margin-left: 28px; margin-right: 28px; margin-top: 26px"
    >
      <div class="m-portlet__body">
        <div class="form-group m-form__group row flex flex-wrap p-fluid">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <label class="col-lg-3 col-form-label required fw-bold fs-6"
              >Choose Status</label
            >
            <p-dropdown
              [options]="StatusOptions"
              [(ngModel)]="valuestatusOptions"
              (onChange)="onChangeStatus($event.value)"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              placeholder="Select Status"
              id="status"
              name="status"
            >
            </p-dropdown>
          </div>
        </div>

        <!-- <div class="form-group m-form__group row flex flex-wrap p-fluid">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Periode</label
          >
          <p-calendar
            selectionMode="range"
            [(ngModel)]="selectedPeriode"
            [iconDisplay]="'input'"
            [showClear]="true"
            [showIcon]="true"
            [readonlyInput]="true"
            [style]="{ width: '100%' }"
            placeholder="Select Periode"
            id="selectPeriode"
            name="selectPeriode"
            (onSelect)="onDateSelect($event)"
          ></p-calendar>
        </div>
      </div> -->

        <!-- <div class="form-group m-form__group row flex flex-wrap p-fluid">
          <label class="col-lg-2 col-form-label fw-bold fs-6">Show All</label>
          <p-inputSwitch
            [(ngModel)]="checked"
            (onChange)="onSwitchChange($event)"
            [ngModelOptions]="{ standalone: true }"
          ></p-inputSwitch>
          <p style="color: #2d5880">
            Disable the 'Show All' button if you want to display PO data that
            can be approved (based on a specific approver).
          </p>
        </div> -->
        <br />
        <br />
        <div class="-portlet__foot m-portlet__foot--fit">
          <div class="row mb-3">
            <div class="col-lg-9" style="margin-left: 4px; margin-bottom: 15px">
              <p-button
                label="Check"
                [loading]="loading"
                [text]="true" 
                [raised]="true" 
                severity="denim" 
                (onClick)="load()">
              </p-button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<p-toast />

<!-- Wrapper Section -->
<div class="card mb-6" id="tablePO">
  <div class="card-header">
    <h5 style="color: #2d5880; margin-top: 26px; font-weight: bold">
      List of Purchase Order
    </h5>
    <div class="form-group m-form__group row">
      <div class="col-lg-12 d-flex align-items-center mt-5">
        <label class="fw-bold fs-6 me-2">Show All</label>
        <p-inputSwitch
          [(ngModel)]="checked"
          (onChange)="onSwitchChange($event)"
          [ngModelOptions]="{ standalone: true }"
        ></p-inputSwitch>
      </div>
      <div class="col-lg-12">
        <p class="text-danger mt-2">
          Disable the 'Show All' button if you want to display PO data that can
          be approved (based on a specific approver).
        </p>
      </div>
    </div>
  </div>
  <!-- begin::Header -->
  <!-- end::Header -->
  <div style="margin-left: 28px; margin-top: 26px; margin-right: 28px">
    <div class="table-responsive">
      <table
        class="table table-striped- table-bordered table-hover table-checkable"
        id="listtabelPO"
        width="100%"
      >
        <thead>
          <tr>
            <th style="text-align: center"></th>
            <th style="text-align: center"></th>
            <th style="text-align: center"></th>
            <th style="text-align: center"></th>
            <th style="text-align: center"></th>
            <th style="text-align: center"></th>
            <th style="text-align: center"></th>
            <th style="text-align: center"></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<!-- end::Wrapper -->

<p-dialog
  header="Detail Purchase Order"
  [(visible)]="displayModal"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-table
    #dt
    [columns]="cols"
    [value]="items"
    styleClass="p-datatable-gridlines"
    [scrollable]="true"
    scrollHeight="60vh"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 50, 100, 200]"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <span
            *ngIf="
              col.field !== 'HRGSATUAN' &&
              col.field !== 'Nilai_PPN' &&
              col.field !== 'SUBTOTAL' &&
              col.field !== 'Nilai_Disc1' &&
              col.field !== 'Nilai_Disc2'
            "
          >
            {{ item[col.field] }}
          </span>
          <span
            *ngIf="
              col.field === 'HRGSATUAN' ||
              col.field === 'Nilai_PPN' ||
              col.field === 'SUBTOTAL' ||
              col.field === 'Nilai_Disc1' ||
              col.field === 'Nilai_Disc2'
            "
          >
            {{ item[col.field] | number : "1.0-0" }}
          </span>
          <!-- <button
            *ngIf="col.field === 'action'"
            (click)="openEditDialog(item)"
            class="btn m-portlet__nav-link btn m-btn m-btn–hover-primary m-btn–icon m-btn–icon-only m-btn–pill btn-outline-primary"
            title="Edit"
            type="button"
          >
            <i class="fa fa-pencil"></i>
          </button> -->
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog
  header="Reason For Rejection"
  [(visible)]="displayRejectModal"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="form-group m-form__group row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label for="No PO" id="noOP1" class="col-lg-6 col-form-label fw-bold fs-6"
        >No PO</label
      >
      <input
        type="text"
        class="form-control m-input"
        id="noOP"
        aria-describedby="Nomor PO"
        [(ngModel)]="selectedItem.NoOP"
        disabled
      />
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <label for="buttondisplay" class="col-lg-6 col-form-label fw-bold fs-6">
        Description
      </label>
      <textarea
        class="form-control m-input"
        id="keterangan"
        rows="5"
      ></textarea>
    </div>
  </div>
  <br />
  <br />
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
      <div class="row">
        <div class="col-md-6 col-lg-">
          <button
            id="proses"
            class="btn btn-md btn-block btn-danger"
            type="button"
            (click)="InsRejectPO()"
          >
            Reject
          </button>
          <!-- <p-button pRipple (click)="InsertCuti()" label="Proses" /> -->
          &nbsp;
          <button
            class="btn btn-md btn-block btn-primary"
            type="button"
            (click)="Kembali()"
          >
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
