<div class="body">
  <nav>
    <a href="#"><img src="./assets/media/misc/logocss.png" alt="logo" /></a>
  </nav>
  <div class="form-wrapper">
    <!-- <h2>Log In</h2> -->
    <form action="#">
      <div class="logo">
        <h1>LOGIN</h1>
      </div>
      <h4>Email</h4>
      <div>
        <input type="email" id="email" class="form-control" required />
      </div>
      <h4>Password</h4>
      <div>
        <input type="password" id="password" class="form-control" required />
      </div>
      <button type="button" id="submit">Log In</button>
    </form>
    <small> CopyRight 2024 © IT - Business Development Team </small>
  </div>
</div>
