<div class="body">
  <!-- <nav>
        <a href="#"><img src="/assets/media/logos/Sakuratex.png" alt="logo"></a>
    </nav> -->
  <div class="form-wrapper">
    <!-- <h2>Log In</h2> -->
    <form action="#">
      <div class="logo">
        <a href="#"
          ><img src="./assets/media/logos/CSS.png" alt="logo" width="50%"
        /></a>
      </div>
      <div>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Email"
          required
        />
      </div>
      <div>
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="Password"
          required
        />
      </div>
      <button type="button" id="submit">Log In</button>
    </form>
    <small> CopyRight 2024 © IT - Business Development Team </small>
  </div>
</div>
