@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: url("../../assets/media/misc/bg5.png") no-repeat center center;
    background-size: cover;
}

nav {
  position: fixed;
  padding: 30px 30px;
  z-index: 1;
}

nav a img {
  width: 400px; 
}

.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  padding: 40px;
  width: 450px;
  background: #ffffff3b;
}

.form-wrapper h2 {
    color: #ad1d0d;
    font-size: 2rem;
}

.form-wrapper form {
  margin: 5px 0 20px;
}

.form-control {
  display: flex;
  align-items: center; 
  height: 50px;
  width: 100%;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 50px;
  color: #fff;
  font-size: 1rem;
  padding: 0 20px;
  margin-bottom: 16px;
  line-height: 50px; 
}

.form-control:is(:focus, :valid) {
  background: #ffffff;
}

.form-control + label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: #8c8c8c;
  transition: all 0.1s ease;
}

.form-control:is(:focus, :valid) ~ label {
  font-size: 0.75rem;
  transform: translateY(-130%);
}

form button {
    width: 100%;
    padding: 16px 0;
    font-size: 1rem;
    background: #e52028;
    color: #fff;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    outline: none;
    margin: 25px 0 10px;
    cursor: pointer;
    transition: 0.1s ease;
}

form button:hover {
    background: #c71c22;
}

.form-wrapper a {
  text-decoration: none;
}

.form-wrapper a:hover {
  text-decoration: underline;
}

.form-wrapper :where(label, p, small, a) {
  color: #b3b3b3;
}

form .form-help {
  display: flex;
  justify-content: space-between;
}

form .remember-me {
  display: flex;
}

form .remember-me input {
  margin-right: 5px;
  accent-color: #b3b3b3;
}

form .form-help :where(label, a) {
  font-size: 0.9rem;
}

.form-wrapper p a {
  color: #fff;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}

.logo h1 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

h4 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 15px;
}

.form-wrapper small {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #ffffff;
}

.form-wrapper small a {
  color: #0071eb;
}

@media (max-width: 740px) {
  body {
      background: url("../../assets/media/misc/bg5.png") no-repeat center center;
      background-size: cover;
  }

  body::before {
      display: none;
  }

  nav {
      display: flex;                  
      justify-content: center;        
      padding: 50px;                
      position: fixed;
      width: 100%; 
      z-index: 1;
  }

  nav a img {
      width: 300px; 
  }

  .form-wrapper {
      width: 90%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }

  .form-wrapper h2 {
      font-size: 1.5rem;
  }

  .form-control {
      padding: 0 15px;
  }

  form button {
      padding: 14px 0;
      font-size: 0.9rem;
  }
}

