::ng-deep {
  .p-selectbutton .p-button.p-highlight {
    background: #2d5880;
    background-color: #2d5880;
  }

  .p-button .p-button.p-highlight {
    background: #2d5880;
    background-color: #2d5880;
  }

  // .p-selectbutton .p-button.p-highlight:hover {
  //   background: green;
  // }
}
