<div
  class="dashboard-title"
  style="
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    background-color: #ad1d0d;
    text-align: left;
    padding: 20px 30px;
    margin-bottom: 30px;
    border-radius: 10px;
  "
>
  List Report Letter
</div>

<div class="card mb-6">
  <div class="card-header">
    <h5 style="color: #ad1d0d; margin-top: 26px; font-weight: bold">
      List Surat Izin
    </h5>
  </div>
  <form
    class="m-form m-form--fit m-form--label-align-right"
    id="suratIzinForm"
    style="margin-left: 28px; margin-right: 28px; margin-top: 26px"
  >
    <div class="m-portlet__body">
      <div class="form-group m-form__group row flex flex-wrap p-fluid">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <label class="col-lg-12 col-form-label required fw-bold fs-6"
            >Dept - Sect</label
          >
          <p-multiSelect
            [options]="optionListDepartmentHR"
            (onChange)="onChangeDepartment($event.value)"
            [showClear]="true"
            [filter]="true"
            [style]="{ width: '100%' }"
            placeholder="Select Dept - Sect"
            optionLabel="label"
            id="department"
            name="department"
          ></p-multiSelect>
        </div>
      </div>
      <div class="form-group m-form__group row flex flex-wrap p-fluid">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <label class="col-lg-3 col-form-label required fw-bold fs-6"
            >Status</label
          >
          <p-dropdown
            [options]="StatusOptions"
            [(ngModel)]="valuestatusOptions"
            (onChange)="onChangeStatus($event.value)"
            optionLabel="name"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
            placeholder="Select Status"
            id="status"
            name="status"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="form-group m-form__group row flex flex-wrap p-fluid">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Periode</label
          >
          <p-calendar
            selectionMode="range"
            [(ngModel)]="selectedPeriode"
            [iconDisplay]="'input'"
            [showClear]="true"
            [showIcon]="true"
            [readonlyInput]="true"
            [style]="{ width: '100%' }"
            placeholder="Select Periode"
            id="selectPeriode"
            name="selectPeriode"
          ></p-calendar>
        </div>
      </div>
      <br />
      <br />
      <div class="card-footer">
        <div class="m-portlet__foot m-portlet__foot--fit">
          <div class="m-form__actions m-form__actions">
            <div class="row">
              <div class="col-md-6 col-lg-">
                <button
                  id="view"
                  class="btn btn-md btn-block btn-danger"
                  type="button"
                  style="background: #ad1d0d; background-color: #ad1d0d"
                  (click)="getCommand()"
                >
                  View
                </button>
                &nbsp;
                <button
                  class="btn btn-md btn-block btn-secondary"
                  type="button"
                  style="
                    background-color: white;
                    color: #ad1d0d;
                    border: 1px solid #cccccc;
                  "
                  (click)="Kembali()"
                >
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </form>
</div>

<div class="card mb-6" id="tableListIzin">
  <div class="card-header">
    <h5 style="color: #ad1d0d; margin-top: 26px; font-weight: bold">
      List Izin Periode
    </h5>
  </div>
  <!-- begin::Table container -->
  <div style="margin-left: 28px; margin-top: 26px; margin-right: 28px">
    <div class="table-responsive">
      <!-- begin::Table -->
      <table
        class="table table-striped table-bordered cell-border"
        id="ListIzin"
      >
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolde">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <!-- <th></th> -->
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
</div>
<p-toast />

<p-dialog
  header="Edit List Izin"
  [(visible)]="displayModal"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="form-group m-form__group row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <label
        for="No Surat"
        id="noSurat1"
        class="col-lg-6 col-form-label fw-bold fs-6"
        >No Surat</label
      >
      <input
        type="text"
        class="form-control m-input"
        id="noSurat"
        aria-describedby="Nomor Surat"
        [value]="selectedPermit?.PermitNo"
        disabled
      />
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <label
        for="No Surat"
        id="noSurat1"
        class="col-lg-3 col-form-label fw-bold fs-6"
        >Register</label
      >
      <input
        type="text"
        class="form-control m-input"
        id="reg"
        aria-describedby="Register"
        [value]="selectedPermit?.RegNo"
        disabled
      />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label
        for="No Surat"
        id="noSurat1"
        class="col-lg-3 col-form-label fw-bold fs-6"
        >Name</label
      >
      <input
        type="text"
        class="form-control m-input"
        id="employee"
        aria-describedby="Name"
        [value]="selectedPermit?.EmployeeName"
        disabled
      />
    </div>
  </div>
  <div class="form-group m-form__group row flex flex-wrap p-fluid">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <label
        for="No Surat"
        id="noSurat1"
        class="col-lg-3 col-form-label fw-bold fs-6"
        >Department</label
      >
      <input
        type="text"
        class="form-control m-input"
        id="departement"
        aria-describedby="Department"
        [value]="selectedPermit?.DeptName"
        disabled
      />
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <label
        for="No Surat"
        id="noSurat1"
        class="col-lg-3 col-form-label fw-bold fs-6"
        >Section</label
      >
      <input
        type="text"
        class="form-control m-input"
        id="section"
        aria-describedby="Section"
        [value]="selectedPermit?.SectionName"
        disabled
      />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label class="col-lg-3 col-form-label required fw-bold fs-6"
        >Category</label
      >
      <p-dropdown
        [options]="KategoriOptions"
        [(ngModel)]="valuekategoriOptions"
        (onChange)="onChangeKategori($event)"
        optionLabel="name"
        optionValue="value"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Select Kategori"
        id="kategori"
        name="kategori"
      >
      </p-dropdown>
    </div>
  </div>
  <div class="form-group m-form__group row flex flex-wrap p-fluid">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label
        for="buttondisplay"
        class="col-lg-12 col-form-label required fw-bold fs-12"
      >
        Start Date
      </label>
      <p-calendar
        [(ngModel)]="selectedDateIn"
        [iconDisplay]="'input'"
        [showIcon]="true"
        inputId="buttondisplay"
        placeholder="Select Date In"
        id="selectedDateIn"
        name="selectedDateIn"
      ></p-calendar>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <label
        for="buttondisplay"
        class="col-lg-12 col-form-label required fw-bold fs-12"
      >
        End Date
      </label>
      <p-calendar
        [(ngModel)]="selectedDateOut"
        [iconDisplay]="'input'"
        [showIcon]="true"
        inputId="buttondisplay"
        placeholder="Select Date Out"
        id="selectedDateOut"
        name="selectedDateOut"
      ></p-calendar>
    </div>
  </div>
  <div class="form-group m-form__group row flex flex-wrap p-fluid">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <label class="col-lg-12 col-form-label required fw-bold fs-12"
        >Early Hour</label
      >

      <p-calendar
        [(ngModel)]="selectedTimeIn"
        [timeOnly]="true"
        (onSelect)="compareTwoTimesM()"
        placeholder="Select Time In"
        [showIcon]="true"
        [iconDisplay]="'input'"
        id="selectedTimeIn"
        name="selectedTimeIn"
      ></p-calendar>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <label class="col-lg-12 col-form-label required fw-bold fs-12"
        >Final Hour</label
      >

      <p-calendar
        [(ngModel)]="selectedTimeOut"
        [timeOnly]="true"
        (onSelect)="compareTwoTimesM()"
        placeholder="Select Time Out"
        [showIcon]="true"
        [iconDisplay]="'input'"
        id="selectedTimeOut"
        name="selectedTimeOut"
      ></p-calendar>
    </div>
  </div>
  <div class="form-group m-form__group row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <label for="buttondisplay" class="col-lg-6 col-form-label fw-bold fs-6">
        Description
      </label>
      <textarea
        class="form-control m-input"
        id="keterangan"
        rows="6"
        [value]="selectedPermit?.Note"
      ></textarea>
    </div>
  </div>
  <br />
  <div class="form-group m-form__group row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <button
        class="btn btn-md btn-block btn-danger"
        type="button"
        style="background: #ad1d0d; background-color: #ad1d0d"
        id="proses"
        (click)="InsEditIzin()"
      >
        Update
      </button>
      &nbsp;
      <button
        class="btn btn-md btn-block btn-secondary"
        type="button"
        style="
          background-color: white;
          color: #ad1d0d;
          border: 1px solid #cccccc;
        "
        id="close"
        (click)="displayModal = false"
      >
        Close
      </button>
    </div>
  </div>
</p-dialog>

<!-- <p-dialog
  header="Detail Izin"
  [(visible)]="displayModal"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-table
    #dt
    [columns]="cols"
    [value]="items"
    styleClass="p-datatable-gridlines"
    [scrollable]="true"
    scrollHeight="60vh"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 50, 100, 200]"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ item[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog> -->
