<div
  [ngClass]="footerContainerCssClasses"
  class="d-flex flex-column flex-md-row flex-stack"
>
  <!-- begin::Copyright  -->
  <div class="text-gray-900 order-2 order-md-1">
    <span class="text-muted fw-bold me-2">{{ currentDateStr }} &copy;</span>
    <a class="text-gray-800 text-hover-primary cursor-pointer"> IT Sakura </a>
  </div>
  <!-- end::Copyright  -->

  <!-- begin::Nav  -->
  <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
    <span class="menu-link" style="margin-right: 10px;">
      <a href="https://www.instagram.com/sakuratex">
        <span class="menu-icon">
          <span class="svg-icon svg-icon-2" [inlineSVG]="'./assets/media/icons/Instagram.svg'">
          </span>
        </span>
        <span class="menu-title" style="color:#2d5880">Sakuratex</span>
      </a>
    </span>    
    <span class="menu-link">
      <a href="https://sakuratex.id/">
        <span class="menu-icon">
          <span class="svg-icon svg-icon-2" [inlineSVG]="'./assets/media/icons/Website.svg'">
          </span>
        </span>
        <span class="menu-title" style="color:#2d5880">Sakuratex</span>
      </a>
    </span>    
  </ul>
  <!-- end::Nav  -->
</div>
