<!--begin::Primary-->
<div
  class="aside-primary d-flex flex-column align-items-lg-center flex-row-auto"
>
  <!--begin::Logo-->
  <div
    class="aside-logo d-none d-lg-flex flex-column align-items-center flex-column-auto py-10"
    id="kt_aside_logo"
  >
    <a routerLink="/announcement">
      <img alt="Logo" src="./assets/media/logos/CSS.png" class="h-25px" />
    </a>
  </div>
  <!--end::Logo-->

  <!--begin::Nav-->
  <nav
    class="aside-nav d-flex flex-column align-items-center flex-column-fluid w-100 pt-5 pt-lg-0"
    id="kt_aside_nav"
  >
    <ul class="nav flex-column">
      <li
        *ngFor="let tab of tabs"
        data-bs-toggle="tooltip"
        data-bs-trigger="hover"
        data-bs-placement="right"
        data-bs-dismiss="click"
        class="nav-item my-3"
        aria-haspopup="true"
        (click)="setHeadMenu(tab.MenuId, tab.tooltip)"
      >
        <a
          class="nav-link d-flex justify-content-center align-items-center p-2"
        >
          <img
            [src]="tab.icon"
            [alt]="tab.tooltip"
            [title]="tab.tooltip"
            class="img-fluid icon-custom"
            (mouseenter)="hovered = true"
            (mouseleave)="hovered = false"
          />
        </a>
      </li>
    </ul>
  </nav>
  <!--end::Nav-->

  <!--begin::Footer-->
  <div
    class="aside-footer d-flex flex-column align-items-center flex-column-auto"
    id="kt_aside_footer"
  >
    <!--begin::User-->
    <div
      class="d-flex align-items-center mb-10"
      id="kt_header_user_menu_toggle"
      (click)="toggleUserInner()"
    >
      <!--begin::Menu wrapper-->
      <div class="d-flex flex-column align-items-center" title="User profile">
        <div
          id="FotoProfile"
          class="profile-container cursor-pointer symbol symbol-50px"
        ></div>
        <div class="mt-2">
          <p class="small-text" style="font-size: 10px">Version 5.1.7</p>
        </div>
      </div>

      <!--end::Menu wrapper-->
      <div class="user-inner-container" *ngIf="isUserInnerVisible">
        <app-user-inner></app-user-inner>
      </div>
    </div>
    <!--end::User-->
  </div>
  <!--end::Footer-->
</div>
<!--end::Primary-->

<ng-container *ngIf="asideMenuSecondary">
  <!--begin::Secondary-->
  <div class="aside-secondary d-flex flex-row-fluid">
    <!--begin::Workspace-->
    <div
      class="aside-workspace d-flex flex-column justify-content-between my-5 p-5"
      id="kt_aside_wordspace"
    >
      <!-- <app-tabs-aside-inner
        [activeTab]="activeTab"
        class="d-flex h-100 flex-column"
      ></app-tabs-aside-inner> -->

      <div
        class="menu menu-column menu-fit menu-rounded menu-title-gray-600 menu-state-red menu-state-bullet-red menu-icon-gray-500 menu-arrow-gray-500 fs-5 px-6 my-5 my-lg-0"
        id="kt_aside_menu"
        data-kt-menu="true"
      >
        <div id="kt_aside_menu_wrapper" class="menu-fit">
          <!-- <div *ngIf="subMenus.length > 0">
              <div *ngFor="let subMenu of subMenus" align="center" style="color: #990600; margin-bottom: 20px; padding: 10px; border-radius: 8px; box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);">
                <a [routerLink]="subMenu.link" routerLinkActive="active">
                  <span class="menu-title">{{ subMenu.title }}</span>
                </a>
              </div>
            </div> -->
          <div
            align="center"
            style="
              color: #ad1d0d;
              margin-bottom: 20px;
              padding: 10px;
              border-radius: 8px;
              box-shadow: 0px 0 10px rgba(237, 43, 43, 0.1);
            "
          >
            <a routerLinkActive="active">
              <span class="menu-title red-text">{{ submenuTitle }}</span>
            </a>
          </div>

          <ul class="m-menu__nav m-menu__nav--dropdown-submenu-arrow">
            <ng-container *ngFor="let subMenu of filteredSubMenus">
              <li
                *ngIf="subMenu.DropdownMenu === 'FALSE'"
                class="menu-item menu-accordion"
                data-kt-menu-trigger="click"
                routerLinkActive="here show"
              >
                <a [routerLink]="[subMenu.Page]" class="menu-link without-sub">
                  <span class="menu-title menu-state-red">{{
                    subMenu.MenuName
                  }}</span>
                </a>
              </li>
              <li
                *ngIf="subMenu.DropdownMenu === 'TRUE'"
                class="menu-item menu-accordion"
                data-kt-menu-trigger="click"
                [ngClass]="{ 'menu-active-bg': isSubMenuActive(subMenu) }"
              >
                <span class="menu-link">
                  <span class="menu-title">{{ subMenu.MenuName }}</span>
                  <span class="menu-arrow"></span>
                </span>
                <div
                  class="menu-sub menu-sub-accordion menu-state-white menu-state-bullet-white"
                  routerLinkActive="menu-active-bg"
                >
                  <ng-container *ngFor="let subChild of filteredSubMenus1">
                    <div
                      *ngIf="
                        subChild.HeadMenu === subMenu.MenuId &&
                        subChild.DropdownMenu === 'FALSE'
                      "
                      class="menu-item"
                      [routerLinkActive]="'active'"
                    >
                      <a
                        [routerLink]="[subChild.Page]"
                        class="menu-link without-sub"
                      >
                        <span class="menu-bullet">
                          <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title1">{{ subChild.MenuName }}</span>
                      </a>
                    </div>
                    <div
                      *ngIf="
                        subChild.HeadMenu === subMenu.MenuId &&
                        subChild.DropdownMenu === 'TRUE'
                      "
                      class="menu-item menu-accordion"
                      data-kt-menu-trigger="click"
                      [ngClass]="{
                        'menu-active-bg': isSubMenuActive(subChild)
                      }"
                    >
                      <span class="menu-link">
                        <span class="menu-bullet">
                          <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title1">{{ subChild.MenuName }}</span>
                        <span class="menu-arrow"></span>
                      </span>
                      <div
                        class="menu-sub menu-sub-accordion menu-state-white menu-state-bullet-white"
                        routerLinkActive="menu-active-bg"
                      >
                        <ng-container
                          *ngFor="let subChild2 of filteredSubMenus1"
                        >
                          <div
                            *ngIf="subChild2.HeadMenu === subChild.MenuId"
                            class="menu-item"
                            routerLinkActive="active"
                          >
                            <a
                              [routerLink]="[subChild2.Page]"
                              class="menu-link without-sub"
                            >
                              <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                              </span>
                              <span class="menu-title1">{{
                                subChild2.MenuName
                              }}</span>
                            </a>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>

      <!-- Message Chat GPT -->
      <!-- Chat Message List -->
      <div
        *ngIf="submenuTitle === 'Sakura AI'"
        class="chat-container overflow-auto mb-3"
        style="max-height: 800px"
        #chatScroll
      >
        <div *ngFor="let message of messages" class="mb-0 pb-1">
          <div
            [ngClass]="{
              'text-end': message.sender === 'user',
              'text-start': message.sender === 'bot'
            }"
          >
            <div
              class="fw-bold small mb-1"
              [ngClass]="{
                'text-muted text-end': message.sender === 'user',
                'text-danger text-start': message.sender === 'bot'
              }"
            >
              {{ message.sender === "user" ? userName : botName }}
            </div>

            <div
              class="message-box d-inline-block p-2 rounded"
              [ngStyle]="{
                'background-color':
                  message.sender === 'user' ? '#d1dbe7' : '#e2e3e5',
                'margin-bottom': '5px'
              }"
            >
              {{ message.text }}
            </div>
          </div>
        </div>
        <!-- Loading animation: modern typing indicator -->
        <div *ngIf="isLoading" class="mb-0 pb-1">
          <div class="text-start">
            <div class="fw-bold small mb-1 text-danger text-start">
              {{ botName }}
            </div>
            <div class="message-box d-inline-block p-2 rounded bg-light">
              <div class="typing-indicator">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Chat Input Form -->
      <div
        *ngIf="submenuTitle === 'Sakura AI'"
        class="chatgpt-form-container mt-4"
      >
        <h6 class="text-muted mb-2">Sakura AI Chatbox</h6>
        <form (ngSubmit)="sendMessage()" class="d-flex flex-column gap-2">
          <div class="form-floating">
            <textarea
              [(ngModel)]="prompt"
              name="chatInput"
              id="chatInput"
              class="form-control"
              placeholder="Need help? Ask here..."
              style="height: 100px"
              required
            ></textarea>
          </div>
          <button
            type="submit"
            class="btn btn-danger w-100"
            style="background: #ad1d0d"
          >
            Send <i class="fas fa-paper-plane ms-2"></i>
          </button>
        </form>
      </div>

      <!-- End Form Sakura AI -->
    </div>
    <!--end::Workspace-->
  </div>
  <!--end::Secondary-->

  <!--begin::Aside Toggle-->
  <button
    id="kt_aside_toggle"
    class="btn btn-sm btn-icon bg-body btn-danger btn-color-gray-700 position-absolute translate-middle start-100 end-0 bottom-0 shadow-sm d-none d-lg-flex"
    data-kt-toggle="true"
    data-kt-toggle-state="active"
    data-kt-toggle-target="body"
    data-kt-toggle-name="aside-minimize"
    (click)="toggleAside()"
  >
    <span
      [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'"
      class="svg-icon svg-icon-2 rotate-180"
    ></span>
  </button>
  <!--end::Aside Toggle-->
</ng-container>
