@import "../mixins/mixins";

.menu-state-bullet-white {
  .menu-item {
    .menu-link {
      @include menu-link-hover-state(#ffff, #ad1d0d);
    }
  }
}

.menu-state-bullet-white .menu-item.active .menu-link {
  color: #ffffff !important;
  background-color: #ad1d0d;
}

.icon-custom {
  width: 24px;
  height: 24px;
  fill: #c01e0c;
  transition: fill 0.3s ease;
}

.icon-custom:hover {
  filter: brightness(70%);
}

.user-menu-wrapper {
  position: relative;
}

.user-inner-container {
  position: relative;
}

@media (min-width: 992px) {
  /* Desktop view */
  .user-inner-container {
    position: absolute;
    margin-bottom: 170px; 
  }
}

@media (max-width: 991px) {
  /* Mobile view */
  .user-inner-container {
    position: absolute;
    margin-bottom: 150px;
  }
}

