<div class="dashboard-title"
  style="font-size: 1.6em;
         font-weight: bold;
         color: white;
         background-color: #ad1d0d;
         text-align: left;
         padding: 20px 30px;
         margin-bottom: 30px;
         border-radius: 10px;">
  Outstanding PO
</div>

<div class="card mb-6">
    <div class="card-header">
      <h5 style="color: #ad1d0d; margin-top: 26px; font-weight: bold">Form Outstanding PO</h5>
    </div>
    <div class="row mb-3">
      <!-- Bagian Kiri -->
        <div class="col-lg-5" style="margin-left: 28px;">

          <label class="col-form-label col-lg-3 required fw-bold fs-6" for="user" id="selectUser">User</label>
          <div class="col-lg">
            <p-multiSelect [options]="optionListPIC" [(ngModel)]="selectedUser" [showClear]="true" [filter]="true" [style]="{'width':'100%'}" [disabled]="checkedAll" placeholder="Select User" id="user"></p-multiSelect>
          </div>

          <div class="col-lg" style="margin-top: 28px;margin-bottom: 28px">
            <p-checkbox [(ngModel)]="checkedAll" (ngModelChange)="onChangeCheck($event)" [binary]="true" label="ALL USER" value="All"> </p-checkbox>
          </div>

        </div>

        <!-- Bagian Kanan -->
        <div class="col-lg-6" style="margin-left: 50px; margin-bottom: 28px;">

          <div class="row mb-3">
            <label class="col-form-label required fw-bold fs-6 PilihData" >Choose Data</label>
            <div class="col-lg-9 fv-row">
              <p-selectButton [(ngModel)]="selectedButton" (ngModelChange)="onChangeButton($event)" [options]="buttonOptions" optionLabel="label" optionValue="value" id="pilihdata"></p-selectButton>
            </div>
          </div>

          <label class="col-form-label required fw-bold fs-6 selectPeriode" hidden>Periode</label>
          <div class="col-lg">
            <p-calendar selectionMode="range" [(ngModel)]="selectedPeriode" [iconDisplay]="'input'" [showClear]="true" [showIcon]="true" [readonlyInput]="true" [style]="{'width':'100%'}" inputDateFormat="yyyy-mm-dd" placeholder="Select Periode" id="selectPeriode" hidden></p-calendar>
          </div>

        </div>

        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <p-toast></p-toast>
          <p-button label="View Data" [loading]="configLoading" [text]="true" [raised]="true" severity="danger" (onClick)="showDataTable()"></p-button>
        </div>

        </div>
</div>

<div class="card mb-9" id="cardOutStandingPOperiode" hidden>
  <div class="card-header" id="labelOutStandingPO">
    <h5 style="color: #ad1d0d; margin-top: 26px; font-weight: bold">Outstanding PO</h5>
  </div>
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-list-3"></i>
        </span>
        <h3 style="text-align:center" class="m-portlet__head-text">{{firstDate}}/{{endDate}}</h3>
      </div>
    </div>
  </div>
  <div style="margin-left: 28px; margin-top: 26px; margin-right: 28px;">
    <div class="table-responsive">
      <table datatable class="table table-striped table-bordered cell-border" id="tabelOutStandingPOperiode">
        <thead>
          <tr class="fw-bolde">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<div class="card mb-9" id="cardOutStandingPOnonperiode" hidden>
  <div class="card-header" id="labelOutStandingPO">
    <h5 style="color: #ad1d0d; margin-top: 26px; font-weight: bold">Outstanding PO</h5>
  </div>
  <div style="margin-left: 28px; margin-top: 26px; margin-right: 28px;">
  <div class="table-responsive">
    <table datatable class="table table-striped table-bordered cell-border" id="tabelOutStandingPOnonperiode">
      <thead>
        <tr class="fw-bolde">
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>
  </div>
</div>
