::ng-deep {
  .p-selectbutton .p-button.p-highlight {
    background: #ad1d0d;
    background-color: #ad1d0d;
  }

  button.selected {
    background-color: #ad1d0d;
  }

  .p-selectbutton .p-button.p-highlight:hover {
    background: #ad1d0d;
  }

  .p-button {
      border-radius: 5px;
  }
}


.red-button {
  background-color: #ad1d0d !important; /* Red color */
  border: none;
  color: white;
  transition: background-color 0.3s ease; /* Smooth color transition */
}

.red-button:hover {
  background-color: #ad1d0d !important; /* Darker red on hover */
  color: white;
}
