<!-- <div id="loadingScreen">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <img id="loadingLogo" src="/assets/media/logos/sakuraflower.gif" alt="Loading">
    </div>
</div> -->
<!-- Dashboard Title -->
<div class="dashboard-title text-white p-5 mb-3 rounded d-flex justify-content-between align-items-center" 
     style="font-size: 1.6em;
     font-weight: bold;
     color: white;
     background-color: #2d5880;">
    <div style="flex-grow: 1; margin-left: 5px;">Dashboard</div>
    <div class="mr-1">
        <p-calendar 
            [(ngModel)]="selected1Year" 
            [showClear]="true" 
            [iconDisplay]="'input'" 
            [showIcon]="true" 
            view="year" 
            dateFormat="yy" 
            [readonlyInput]="true" 
            placeholder="Select a Year"
            (ngModelChange)="onYearChange($event)"
            [style]="{'font-size': '13px', 'width': '160px', 'height': '40px'}">
        </p-calendar>
    </div>
    <!-- <div class="mr-1">
        <p-dropdown [options]="chooseData" optionLabel="name" optionValue="value" [(ngModel)]="selectDashboard" placeholder="Choose Data" [style]="{'font-size': '14px', 'width': '150px'}"></p-dropdown>
    </div> -->
</div>


<!-- Dashboard Content -->
<div class="">
<!-- <div class="cardSales">
    <div class="row">
       Sales Cards
        <div class="col-md-6 col-lg-3 mb-3">
            <div class="card info-card sales-card h-49">
                <div class="card-body">
                    <h5 class="card-title mb-2">Sales <span>| This Month</span></h5>
                    <div class="d-flex align-items-center justify-content-center">
                        <div>
                            <h3 class="fw-bold text-danger">209,989 y/m</h3>
                            <span class="text-danger fw-bold">-10%</span>
                            <span class="text-muted">decrease</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card info-card revenue-card h-49">
                <div class="card-body">
                    <h5 class="card-title mb-2">Sales <span>| This Year</span></h5>
                    <div class="d-flex align-items-center justify-content-center">
                        <div>
                            <h3 class="fw-bold text-danger">6,863,092 y/m</h3>
                            <span class="text-success fw-bold">12%</span>
                            <span class="text-muted">increase</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col-lg-6 col-xl-3 mb-3">
            <div class="card info-card revenue-card h-48">
                <div class="card-body">
                    <h5 class="card-title mb-2">Target Sales <span>| This Month</span></h5>
                    <canvas id="TargetSalesMonth" width="100%" height="100%"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3 mb-3">
            <div class="card info-card sales-card h-48">
                <div class="card-body">
                    <h5 class="card-title mb-2">Target Sales <span>| This Year</span></h5>
                    <canvas id="TargetSalesYear" width="100%" height="100%"></canvas>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3 mb-3">
            <div class="card info-card sales-card h-45">
                <div class="card-body">
                    <h5 class="card-title mb-2">Sales PIC</h5>
                    <p-table [value]="salesPic" [scrollable]="true" [rowHover]="true" [tableStyle]="{ 'min-width': '22rem' }" scrollHeight="250px" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Name</th>
                                <th>Total Sales</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>
                                    <div class="product-info">{{ product.name }}</div>
                                </td>
                                <td>{{ product.price | currency:'IDR ' }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>

    Top Five Customer and Top Five Corak
    <div class="row">
        <div class="col-md-6 col-lg-3 mb-3">
            <div class="card info-card revenue-card h-100">
                <div class="card-body">
                    <h5 class="card-title">Top Five Customer <br> <span>This Year</span></h5>
                    <p-table [value]="FiveCustYear" [scrollable]="true" [rowHover]="true" [tableStyle]="{ 'min-width': '18rem' }" scrollHeight="240px" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>
                                    <div class="product-info">{{ product.name }}</div>
                                </td>
                                <td>{{ (product.price) | number:'1.2-2' }} y/m</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
            <div class="card info-card revenue-card h-100">
                <div class="card-body">
                    <h5 class="card-title">Top Five Customer <br> <span>This Month</span></h5>
                    <p-table [value]="FiveCustYear" [scrollable]="true" [rowHover]="true" [tableStyle]="{ 'min-width': '18rem' }" scrollHeight="240px" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>
                                    <div class="product-info">{{ product.name }}</div>
                                </td>
                                <td>{{ (product.price) | number:'1.2-2' }} y/m</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
            <div class="card info-card revenue-card h-100">
                <div class="card-body">
                    <h5 class="card-title">Top Five Corak <br> <span>This Month</span></h5>
                    <p-table [value]="FiveCorakYear" [scrollable]="true" [rowHover]="true" [tableStyle]="{ 'min-width': '18rem' }" scrollHeight="240px" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>
                                    <div class="product-info">{{ product.name }}</div>
                                </td>
                                <td>{{ (product.price) | number:'1.2-2' }} y/m</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
            <div class="card info-card revenue-card h-100">
                <div class="card-body">
                    <h5 class="card-title">Top Five Corak <br> <span>This Month</span></h5>
                    <p-table [value]="FiveCorakYear" [scrollable]="true" [rowHover]="true" [tableStyle]="{ 'min-width': '18rem' }" scrollHeight="240px" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>
                                    <div class ="product-info">{{ product.name }}</div>
                                </td>
                                <td>{{ (product.price) | number:'1.2-2' }} y/m</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div> 
        </div>
    </div>

     Graphic Sales and Sales PIC 
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card info-card revenue-card h-100">
                <div class="card-body">
                    <h5 class="card-title">Graphic Sales<br></h5>
                    <p-chart type="line" [data]="dataGraphicSales" [options]="optionsGraphicSales"></p-chart>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="cardInventory">
    <div class="row">
        Inventory Cards 
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card info-card sales-card h-45">
                <div class="card-body">
                    <h5 class="card-title mb-2">Inventory Stock <span>| Realtime</span></h5>
                    <div class="d-flex align-items-center justify-content-center">
                        <div>
                            <h3 class="fw-bold text-danger">209,989 y/m</h3>
                            <span class="text-danger fw-bold">-10%</span>
                            <span class="text-muted">decrease</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card info-card revenue-card h-45">
                <div class="card-body">
                    <h5 class="card-title mb-2">Production Stock <span>| Realtime</span></h5>
                    <div class="d-flex align-items-center justify-content-center">
                        <div>
                            <h3 class="fw-bold text-danger">6,863,092 y/m</h3>
                            <span class="text-success fw-bold">12%</span>
                            <span class="text-muted">increase</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 mb-3">
            <div class="card info-card revenue-card h-46">
                <div class="card-body">
                    <h5 class="card-title">Inventory Stock</h5>
                    <p-table [value]="FiveCorakYear" [scrollable]="true" [rowHover]="true" [tableStyle]="{ 'min-width': '35rem' }" scrollHeight="240px" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>
                                    <div class="product-info">{{ product.name }}</div>
                                </td>
                                <td>{{ (product.price) | number:'1.2-2' }} y/m</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 mb-3">
            <div class="card info-card revenue-card h-46">
                <div class="card-body">
                    <h5 class="card-title">Production Stock</h5>
                    <p-table [value]="FiveCorakYear" [scrollable]="true" [rowHover]="true" [tableStyle]="{ 'min-width': '35rem' }" scrollHeight="240px" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>
                                    <div class="product-info">{{ product.name }}</div>
                                </td>
                                <td>{{ (product.price) | number:'1.2-2' }} y/m</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div> 
        </div>
    </div>
</div> -->
<div class="cardPurchase">
     <!--Purchase Dashboard -->
    <div class="row"> 
        <div class="col-lg-6 mb-3">
            <div class="card info-card revenue-card h-100">
                <div class="card-body">
                    <h5 class="card-title mb-3">Purchasing Graphs <span>| Year</span><br></h5>
                    <div>
                        <canvas id="PurchasePieChartYear"></canvas>
                    </div>
                </div>
            </div>
            <div id="Table" hidden>
                <table
                    class="table table-striped table-bordered cell-border"
                    id="TablePurchasingYear" hidden>
                    <thead>
                        <tr class="fw-bolde">
                        <th></th>
                        <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card info-card revenue-card h-100">
                <div class="card-body">
                    <h5 class="card-title mb-3">Purchasing Graphs <span>| Month </span><br></h5>
                    <div>
                        <canvas id="PurchasePieChartMonth"></canvas>
                    </div>
                </div>
            </div>
            <div id="Table" hidden>
                <table
                    class="table table-striped table-bordered cell-border"
                    id="TablePurchasingMonth">
                    <thead>
                        <tr class="fw-bolde">
                        <th></th>
                        <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-lg-3 mb-3">
            <div class="card info-card sales-card h-49 ">
                <div class="card-body">
                    <h5 class="card-title mb-2">PR Approve</h5>
                    <div class="d-flex align-items-center justify-content-center">
                        <div>
                            <span class="fw-bold"><span id="prApproveDays"></span> Hari</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="card info-card revenue-card h-49">
                <div class="card-body">
                    <h5 class="card-title mb-2">PR Processing</h5>
                    <div class="d-flex align-items-center justify-content-center">
                        <div>
                            <span class="fw-bold"><span id="prProcessingDays"></span> Hari</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="card info-card sales-card h-49">
                <div class="card-body">
                    <h5 class="card-title mb-2">PO Approve</h5>
                    <div class="d-flex align-items-center justify-content-center">
                        <div>
                            <span class="fw-bold"><span id="poApproveDays"></span> Hari</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="card info-card revenue-card h-49">
                <div class="card-body">
                    <h5 class="card-title mb-2">Receiving</h5>
                    <div class="d-flex align-items-center justify-content-center">
                        <div>
                            <span class="fw-bold"><span id="ReceivingDays"></span> Hari</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-12 mb-3">
        <div class="card info-card revenue-card h-100">
            <div class="card-body">
                <h5 class="card-title mb-3">Table PR Handling Process<br></h5>
                <table
                class="table table-striped table-bordered cell-border"
                id="TableHandlingProses">
                <thead>
                    <tr class="fw-bolde">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            </div>
        </div>
    </div>
</div>
<div class="cardWWT">
    <!-- WWT Dashboard -->
    <div class="row" style="margin-top: 25px;">
        <!-- Kualitas WWT Card -->
        <div class="col-lg-4 mb-4">
            <div class="card h-100 cardWWT-bg">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title mb-3" style="color: #ffffff;">Kualitas WWT</h5>
                    <div class="position-relative">
                        <!-- Card utama -->
                        <div class="card p-11 shadow-sm" style="border-radius: 12px; background-color: #ffffff;">
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <div class="text-center mb-4">
                                    <span class="fw-bold" style="font-size: 1.2rem; color: #3d4353;" >Penurunan Kuantitas WWT</span>
                                </div>
                                <div class="text-center mb-4">
                                    <span class="fw-bold" id="penurunanTotal" style="font-size: 1.5rem; color: #3d4353;"></span>
                                </div>
                                <div class="text-center mb-4">
                                    <span class="fw-bold" style="font-size: 1.2rem; color: #3d4353;">Penurunan Biaya WWT (%)</span>
                                </div>
                                <div class="text-center">
                                    <span class="fw-bold" id="penurunanCOD" style="font-size: 1.5rem; color: #3d4353;"></span>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Card kecil -->
                        <div class="card shadow-sm position-absolute" style="padding: 10px; top: 100%; left: 50%; transform: translate(-50%, -100%); border-radius: 8px; background-color: #ffffff; color: #3d4353;">
                            <div class="text-center">
                                <span class="fw-bold" style="font-size: 14px;">September 2024</span>
                            </div>
                        </div>                        
                    </div>
                    <br/>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-5">
                            <p-selectButton 
                                [options]="stateOptionsKualitas" 
                                [(ngModel)]="valueStateOptionKualitas"
                                (ngModelChange)="handleChangeKualitas($event)"
                                optionLabel="label" 
                                optionValue="value" />
                        </div>
                        <div class="col-7">
                            <p-selectButton 
                                id="yearsKualitas"
                                [options]="yearOptionsKualitas" 
                                [(ngModel)]="valueYearOptionKualitas" 
                                optionLabel="label" 
                                optionValue="value" />
                            <p-selectButton
                                id="monthsKualitas"
                                [options]="monthOptionsKualitas" 
                                [(ngModel)]="valueMonthOptionKualitas" 
                                optionLabel="label" 
                                optionValue="value" />
                        </div>
                    </div>
                    <br/>          
                    <div class="table-responsive mt-4">
                        <table class="table table-bordered custom-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Inlet (Equalisasi)</th>
                                    <th>Outlet (DO)</th>
                                </tr>
                            </thead>
                            <tbody class="fw-bold">
                                <tr>
                                    <td>COD (mg/I)</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>TSS (mg/l)</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>TDS (mg/l)</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>pH</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Warna (Pt.Co)</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Turbidity (NTU)</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Kuantitas WWT Card -->
        <div class="col-lg-4 mb-4">
            <div class="card h-100 cardWWT-bg2">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center mb-3" style="color: #ffffff;">Kuantitas WWT</h5>
                    <div class="position-relative">
                        <!-- Card utama -->
                        <div class="card p-17 shadow-sm" style="border-radius: 12px; background-color: #ffffff;">
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <div class="text-center mb-4">
                                    <span class="fw-bold" style="font-size: 1.2rem; color: #3d4353;">Total Outlet</span>
                                </div>
                                <div class="text-center mb-4">
                                    <span class="fw-bold" id="penurunanTotal" style="font-size: 1.5rem; color: #3d4353;"></span>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Card kecil -->
                        <div class="card shadow-sm position-absolute" style="padding: 10px; top: 100%; left: 50%; transform: translate(-50%, -100%); border-radius: 8px; background-color: #ffffff; color: #3d4353;">
                            <div class="text-center">
                                <span class="fw-bold" style="font-size: 14px;">September 2024</span>
                            </div>
                        </div>                        
                    </div>
                    <br/>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-5">
                            <p-selectButton 
                                [options]="stateOptionsKuantitas" 
                                [(ngModel)]="valueStateOptionKuantitas"
                                (ngModelChange)="handleChangeKuantitas($event)"
                                optionLabel="label" 
                                optionValue="value" />
                        </div>
                        <div class="col-7">
                            <p-selectButton 
                                id="yearsKuantitas"
                                [options]="yearOptionsKuantitas" 
                                [(ngModel)]="valueYearOptionKuantitas" 
                                optionLabel="label" 
                                optionValue="value" />
                            <p-selectButton
                                id="monthsKuantitas"
                                [options]="monthOptionsKuantitas" 
                                [(ngModel)]="valueMonthOptionKuantitas" 
                                optionLabel="label" 
                                optionValue="value" />
                        </div>
                    </div>
                    <br/>          
                    <div class="table-responsive mt-4">
                        <table class="table table-bordered custom-table">
                            <tbody class="fw-bold">
                                <tr>
                                    <td>Inlet Poliester (m3)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Inlet Denim (m3)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Proses DAF (m3)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Outlet MCAB (m3)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Outlet WWT (m3)</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Biaya WWT Card -->
        <div class="col-lg-4 mb-4">
            <div class="card h-100 cardWWT-bg3">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-end mb-3" style="color: #ffffff;">Biaya WWT</h5>
                    <div class="position-relative">
                        <!-- Card utama -->
                        <div class="card p-11 shadow-sm" style="border-radius: 12px; background-color: #ffffff;">
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <div class="text-center mb-4">
                                    <span class="fw-bold" style="font-size: 1.2rem; color: #3d4353;">Estimasi Total Biaya</span>
                                </div>
                                <div class="text-center mb-4">
                                    <span class="fw-bold" id="penurunanTotal" style="font-size: 1.5rem; color: #3d4353;"></span>
                                </div>
                                <div class="text-center mb-4">
                                    <span class="fw-bold" style="font-size: 1.2rem; color: #3d4353;">Rp.</span><span id="jumlahRP"></span>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Card kecil -->
                        <div class="card shadow-sm position-absolute" style="padding: 10px; top: 100%; left: 50%; transform: translate(-50%, -100%); border-radius: 8px; background-color: #ffffff; color: #3d4353;">
                            <div class="text-center">
                                <span class="fw-bold" style="font-size: 14px;">September 2024</span>
                            </div>
                        </div>                        
                    </div>
                    <br/>                              
                    <div class="row align-items-center justify-content-center">
                        <div class="col-5">
                            <p-selectButton 
                                [options]="stateOptionsBiaya" 
                                [(ngModel)]="valueStateOptionBiaya"
                                (ngModelChange)="handleChangeBiaya($event)"
                                optionLabel="label" 
                                optionValue="value" />
                        </div>
                        <div class="col-7">
                            <p-selectButton 
                                id="yearsBiaya"
                                [options]="yearOptionsBiaya" 
                                [(ngModel)]="valueYearOptionBiaya" 
                                optionLabel="label" 
                                optionValue="value" />
                            <p-selectButton
                                id="monthsBiaya"
                                [options]="monthOptionsBiaya" 
                                [(ngModel)]="valueMonthOptionBiaya" 
                                optionLabel="label" 
                                optionValue="value" />
                        </div>
                    </div> 
                    <br/>         
                    <div class="table-responsive mt-4">
                        <table class="table table-bordered custom-table">
                            <tbody class="fw-bold">
                                <tr>
                                    <td>Listrik</td>
                                    <td>Rp.</td>
                                </tr>
                                <tr>
                                    <td>Kimia</td>
                                    <td>Rp.</td>
                                </tr>
                                <tr>
                                    <td>Sludge</td>
                                    <td>Rp.</td>
                                </tr>
                                <tr>
                                    <td>(Est) Karyawan</td>
                                    <td>Rp.</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>Rp.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  
